.sous-titre-2 {
    margin-top: 20.0pt;
    margin-right: 0in;
    margin-bottom: 6.0pt;
    margin-left: .5in;
    text-align: justify;
    text-indent: -.25in;
    line-height: 115%;
    page-break-after: avoid;
    font-size: 20.0pt;
    font-family: "Roboto Serif Medium";
    font-weight: normal;
}

.sous-texte-3 {
    margin-left: 1.5in;
    text-indent: -.25in;
}